<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Proyecto Integrador - Nosotros</title>
</head>
<body class="nosotros-body">

    <header class="main-header">
        <input type="checkbox" id="menu">

    <nav class="nav-bar">
        <img class="nav-bar__logo-container" src="../public/img/LOGO.png">
        <ul class="nav-bar__nav-list">
          <li class="nav-bar__nav-item">
            <a href="inicio.html" class="nav-bar__nav-link">Inicio</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="#" class="nav-bar__nav-link">Alta</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="/views/nosotros.html" class="nav-bar__nav-link">Nosotros</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="/views/contacto.html" class="nav-bar__nav-link">Contacto</a>
          </li>
        </ul>
      </nav> <!-- .nav-bar -->
    </header>  

  <div class="nosotros-body__div">  
    <h1 class="nosotros-body__h1">Quienes somos</h1>

    <h2 class="nosotros-body__h2">La mirada puesta en el futuro</h2>

    <p class="nosotros-body__p"> 
    <img class="nosotros-body__img" src="/public/img/tecno empresa.jpg"> 
    Somos el deseo constante por la innovación, búsqueda de experiencias que conectan personas. Intentamos llegar a lo más profundo del universo tecnológico para que no te pierdas absolutamente nada de la era digital. Con más de 10 años de trayectoria en el mercado, nos dedicamos a la importación, distribución y venta de productos electrónicos.
    
    Tenemos un claro compromiso, satisfacer las demandas de nuestros clientes más exigentes, resolviéndolas de una forma fácil y simple, garantizando que la experiencia de compra sea la mejor del mercado. Ofrecemos excelentes precios a nuestros clientes y todos nuestros productos cuentan con garantía, así el consumidor puede comprar con seguridad.
    
    Los valores que rigen nuestra actividad diaria, se basan en transparencia, calidad y compromiso con nuestros clientes.
    </p>
  </div>

   <!-- footer -->
   <footer class="footer">
    
    
    <div class="footer__derechos">
      <p class="footer__derechos__copy">Copyright@InTEch. All right reserved. </p>
      
    </div>
    <div class="footer__siguenos">
      <h2 >SIGUENOS</h2>
    
      
        <span class="footer__siguenos__fb"><i class="fa-brands fa-facebook"></i></span>
        <span class="footer__siguenos__tw"><i class="fa-brands fa-x-twitter"></i></span>
        <span class="footer__siguenos__in"><i class="fa-brands fa-instagram"></i></span>
        <span class="footer__siguenos__yt"><i class="fa-brands fa-youtube"></i></span>
      
    </div>
   </footer>  
  <div class="whatsapp"><i class="fa-brands fa-whatsapp fa-2xl"></i></div> 

<script type="module" src="/main.js"></script>
</body>
</html>